[Unit]
Description=tracker-miner-fs system service
Documentation=man:tracker-miner-fs(1)
After=system-tracker-store.service

[Service]
Type=simple
GuessMainPID=no
Environment="TRACKER_BUS_TYPE=system"
ExecStart=/usr/lib/tracker/tracker-miner-fs
Restart=on-abort
User=mdssvc

[Install]
WantedBy=multi-user.target
